aiohttp
regex
python-dateutil
aiodns
dnspython
PyNaCl
psutil
parsedatetime
numpy
Pillow
disnake==2.8.0
disnake-jishaku==2.6.5
disnake-ext-menus==0.0.3
pymongo==3.12.1
umongo[motor]
python-dotenv
pytz
matplotlib